$primary-color: rgb(12, 133, 193); 
$secondary-color: rgb(131, 132, 129);
$third-color: #7b7b7c;
$background-color: #535354;
$text-light: #ddd;
$text-dark: black;
$text-hover: #fff;
$shadow: honeydew;
$modal-background: rgba(0, 0, 0, 0.4);
